doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel="shortcut icon" type="image/ico" href="/images/instagram.ico")
    link(rel='stylesheet', href='/dist/style.css') 
    script(src="http://localhost:8080/public/dist/bundle.js")  
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header
      nav.nav.row
        .nav__logo
          a(href="/")= h.siteName
        .nav__user.row
          if user
            a.log(href="/logout") Log Out
            a(href=`/${user.slug}/likes`)
              .icon__heart.row
                span.likes-count #{user.likes && user.likes.length}  
            a(href=`/${user.slug}/upload`) 
              .icon__upload
            a(href=`/${user.slug}`)
              .icon__account     
          else 
            a.log(href="/login") Log In  
    article
      block content
      block scripts
      script(src="/dist/bundle.js")  
