doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel="shortcut icon" type="image/ico" href="/images/instagram.ico")
    link(rel='stylesheet', href='/dist/style.css') 
    script(src="http://localhost:8080/public/dist/bundle.js")  
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header
    main
      nav.nav.row
        .nav__logo
          a(href="/") Logo
        .nav__user.row
          if user
            a(href="/logout") Log out
            a(href=`/${user.slug}/likes`)
              .icon__heart.col
                span.likes-count #{user.likes && user.likes.length}  
            a(href=`/${user.slug}/upload`) Add image  
            a(href=`/${user.slug}`) Account      
          else 
            a(href="/login") Log in  
      block content
      block scripts
      script(src="/dist/bundle.js")  
