extends layout

block content
  - const data = { posts: 0, followers: 0, following: 0 }
  section
    .user
      .header.row
        .header__img.row
          img(src=`${profile.gravatar}&s=200 || "https://unsplash.it/150/150"}`, alt=`${profile.name}'s' avatar`)
        .header__data.col
          .header__data--name.row
            h2= profile.username
            if user && user._id.equals(profile._id)
              a(href=`/edit`) Edit Profile
          .header__data--statistics.row 
            ul.row
              li <strong>#{data.posts}</strong> posts
              li <strong>#{data.followers}</strong> followers
              li <strong>#{data.following}</strong> following
          .header__data--profile
            h2= profile.name || ""
            span= profile.bio || ""
      .gallery.row
        each image in images  
          a.gallery__img.row(href=`/${profile.slug}/p/${image.url}`)
            img(src=`/uploads/${image.photo}` alt=`${image.caption}`)
            .hover.row
              span ♥️
              span 💬
