extends layout
include mixins/_gallery

block content
  - const data = { posts: profile.posts, followers: profile.followers.length, following: profile.following.length }
  section
    .content
      .header.row
        .header__img.row
          img(src=`${profile.gravatar}&s=200 || "https://unsplash.it/150/150"}`, alt=`${profile.name}'s' avatar` title=`${h.gravatar}`)
        .header__data.col
          .header__data--name.row
            h2= profile.username
            if user && user._id.equals(profile._id)
              a(href=`/edit`) Edit Profile
            else if user 
              form.follow(method="POST", action=`/${profile.username}/follow`)
                input.button(type="submit")
          .header__data--statistics.row 
            ul.row
              li #{data.posts} posts
              li.followers #{data.followers} followers
              li.following #{data.following} following
          .header__data--profile
            h2= profile.name || ""
            span= profile.bio || ""
            if profile.webiste
            a(href=`${profile.website}`, target="_blank")= profile.website
      .gallery.row
        each image in images  
          +gallery(image)
