extends layout
include mixins/_gallery
include mixins/_modal

block content
  section
    .content
      .header.row
        .header__img.row
          img(src=`${profile.gravatar}&s=200}`, alt=`${profile.name}'s' avatar` title=`${h.gravatar}`)
        .header__data.col
          .header__data--name.row
            h2= profile.username
            if user && user._id.equals(profile._id)
              a(href=`/edit`) Edit Profile
            else if user 
              form.follow(method="POST", action=`/api/${profile.username}/follow`)
                button(type="submit") follow
          .header__data--statistics.row 
            span #{profile.posts} posts
            a(href="#").followers.modal__open #{profile.followers.length} followers
            a(href="#").following.modal__open #{profile.following.length} following
          .header__data--profile
            h2= profile.name || ""
            span= profile.bio || ""
            if profile.webiste
            a(href=`${profile.website}`, target="_blank")= profile.website
      .gallery.row
        each image in images  
          +gallery(image)
    +modal(profile.followers)
