extends layout
include mixins/_gallery

block content
  section
    .content
      .header.row
        .header__img.row  
          img(src=h.avatar(profile, 200), alt=`${profile.name}'s' avatar`)
        .header__data.col
          .header__data--name.row
            h2= profile.username
            if user && user._id.equals(profile._id)
              a(href=`/edit`) Edit Profile
            else if user
              form.follow(method="POST", action=`/api/${profile.username}/follow`)
                - const folllowerList = profile.followers.map(obj => obj._id.toString());
                - const followClass = folllowerList.includes(user._id.toString()) ? 'Following' : "Follow";
                button(type="submit" class=followClass)= followClass
          .header__data--statistics.row 
            span #{profile.posts} posts
            a(href=`/api/${profile.username}/followers`).followers.modal__open #{profile.followers.length} followers
            a(href=`/api/${profile.username}/following`).following.modal__open #{profile.following.length} following
          .header__data--profile
            h2= profile.name || ""
            span= profile.bio || ""
            if profile.webiste
            a(href=`${profile.website}`, target="_blank")= profile.website
      .gallery.row
        each image in images  
          +gallery(image)
