extends layout
include mixins/_gallery

block content
  section
    .content
      .header.row
        .header__img.row  
          img(src=h.avatar(profile, 200), alt=`${profile.name}'s' avatar`)
          if user && user._id.equals(profile._id)  
            .avatar.row
              form.col(method="POST" enctype="multipart/form-data" style="height: auto;")
                label.avatar__change(for="photo")
                  input(type="file" name="photo" id="photo" accept="image/png, image/jpeg" onchange="form.submit()")
              if user.avatar
                a.remove-avatar.row(href="#")
                  .avatar__remove(title="Remove current picture")
        .header__data.col
          .header__data--name.row
            h2= profile.username
            if user && user._id.equals(profile._id)
              a.edit-profile(href=`/edit`) Edit Profile
            else if user
              form.follow(method="POST", action=`/api/${profile.username}/follow`)
                - const folllowerList = profile.followers.map(obj => obj._id.toString());
                - const followClass = folllowerList.includes(user._id.toString()) ? 'Following' : "Follow";
                button(type="submit" class=followClass)= followClass
          .header__data--statistics.row
            .posts.row 
              .number #{profile.posts}
              span posts
            a(href=`/${profile.slug}/followers`).followers.modal__open.row 
              .number #{profile.followers.length} 
              span followers
            a(href=`/${profile.slug}/following`).following.modal__open.row
              .number #{profile.following.length} 
              span following
          .header__data--profile
            if profile.name
              h2= profile.name
            if profile.bio  
              span= profile.bio
            if profile.website
              - const website = profile.website.includes('http') ? profile.website : `http://${profile.website}`
              a.website(href=website target="_blank")= profile.website
      .gallery.row
        each image in images  
          +gallery(image)
