mixin gallery(image = {}, like)
  - const path = like ? '/like' : ''
  a.gallery__img.row(href=`/p/${image.url}${path}`)
    img(src=`/uploads/gallery/${image.photo}` alt=`${image.caption}`)
    .hover__icons.row
      .icon.row
        .icon__heart
        span.icon__count= image.likes.length
        .icon__comment
        span.icon__count= image.comments.length
