mixin gallery(image = {})
  a.gallery__img.row(href=`/p/${image.url}`)
    img(src=`/uploads/gallery/${image.photo}` alt=`${image.caption}`)
    .hover__icons.row
      .icon.row
        .icon__heart
        span.icon__count= image.likes.length
        .icon__comment
        span.icon__count= image.comments.length
