mixin imgCard(image = {})
  section
    .img-card
      .img-card__header.row  
        a.img(href=`/${image.author.slug}`) 
          img(src=h.avatar(image.author, 200), alt=`${image.author.name}'s' avatar`)
        a(href=`/${image.author.slug}`)= image.author.username
        if user && user._id.equals(image.author._id)
          a.remove(href=`/p/${image.id}/remove`) remove image
      .img-card__image
        img(src=`/uploads/${image.photo}` alt=`${image.caption}`)  
      .img-card__content
        .content__likes.row
          if user
            form.icon(method="POST", action=`/api/like/${image._id}`)
              - const likesList = image.likes.map(obj => obj.toString());
              - const likesClass = likesList.includes(user._id.toString()) ? 'icon__heart on' : 'icon__heart'
              button(type="submit" name="likes" class=likesClass)
            a.likes.modal__open(href=`/api/like/${image._id}/show`) #{image.likes.length} likes    
        .content__caption
          p.caption= image.caption
        if image.comments.length
        .content__comments   
          ul.comments
            each comment in image.comments
              li
                a(href=`/${comment.author.slug}`)= comment.author.username
                span= comment.text
        time.img-card__date(datetime=image.created)
          p= h.moment(image.created).startOf().fromNow()
      .img-card__comment
        if (user)
          form.comment(action=`/api/comment/${image._id}`, method="POST")
            input(name="text", placeholder="Add a comment...", autocomplete="off" maxlength="140")        
