mixin imgCard(image = {})
  section
    .img-card
      .img-card__header.row
        a.img(href=`/${profile.slug}`) 
          img(src=`${profile.gravatar}&s=30 || "https://unsplash.it/30/30"}`, alt=`${profile.name}'s' avatar`)
        span= profile.username
      .img-card__image
        img(src=`/uploads/${image.photo}` alt=`${image.caption}`)  
      .img-card__content
        .content__icons
          span ♥️
          span 💬
        .content__likes
          span 15 Me gusta
        .content__comments
          p.caption= image.caption
          ul
            li
              a(href="#") usuario1 
              span Lorem ipsum dolor sit amet, consectetur elit
            li
              a(href="#") usuario2 
              span Lorem ipsum dolor sit amet, consectetur adipisicing elit  
        .img-card__date
          p= h.moment(image.created).startOf().fromNow()
      .img-card__comment
        if (user)
          form.comment(id="comment", method="POST", action="#")
            input(name="text", placeholder="Añade un comentario...")
        else
          .log-in
            a(href="/login") Log in 
            span to like or comment.
      
