mixin imgCard(image = {})
  section
    .img-card
      .img-card__header.row
        a.img(href=`/${image.author.slug}`) 
          img(src=`${image.author.gravatar}&s=30}`, alt=`${image.author.name}'s' avatar`)
        span= image.author.username
      .img-card__image
        img(src=`/uploads/${image.photo}` alt=`${image.caption}`)  
      .img-card__content
        .content__icons
          if user
            form.icon(method="POST", action=`/api/like/${image._id}`)
              - const likesList = user.likes.map(obj => obj.toString());
              - const likesClass = likesList.includes(image._id.toString()) ? 'icon__heart on' : 'icon__heart'
              button(type="submit" name="likes" class=likesClass)
        .content__likes
          if image.likes.length > 0
            span.likes #{image.likes.length} likes
          p.caption= image.caption
        if image.comments.length
        .content__comments   
          ul.comments
            each comment in image.comments
              li
                a(href=`/${comment.author.slug}`)= comment.author.username
                span= comment.text
        time.img-card__date(datetime=image.created)
          p= h.moment(image.created).startOf().fromNow()
      .img-card__comment
        if (user)
          form.comment(action=`/api/comment/${image._id}`, method="POST")
            input(name="text", placeholder="Add a comment...", autocomplete="off")
