mixin suggestions(data = {})
  .box__content
      ul.contact-list
        each profile in data
          li.contact
            a.img(href=`/${profile.slug}`)
              img(src=h.avatar(profile), alt=`${profile.name}'s avatar`)
            .user-name  
              a(href=`/${profile.slug}`)= profile.username
              if profile.name
                span= profile.name
