mixin userBox(data = {})
  .box__content
      ul.contact-list
        each user in data
          li.row
            a.img(href=`/${user.slug}`)
              img(src=`${user.avatar || user.gravatar}`, alt=`${user.name}'s avatar`)
            .user-name.col  
              a(href=`/${user.slug}`)= user.username
              span= user.name
